* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}

@font-face {
  font-family: 'CityStencil';
  src: local('CityStencil'),
    url('./assets/fonts/CityStencil.ttf') format('truetype');
}
